
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<div class="my-4">
    <div class="d-flex justify-content-center align-items-center mx-2 px-2">
        <div class="col-md-3 ps-md-0 pe-md-0 mx-2 px-2">
            <div class="card-pricing2 card-success">
                <div class="pricing-header">
                    <h3 class="fw-bold mb-3">Standard</h3>
                    @*<span class="sub-title">Lorem ipsum</span>*@
                </div>
                <div class="price-value">
                    <div class="value">
                        <span class="currency">$</span>
                        <span class="amount">2.<span>99</span></span>
                        <span class="month">/month</span>
                    </div>
                </div>
                <ul class="pricing-content">
                    <li>8 Accounts</li>
                    <li>40 GB Monthly Bandwidth</li>
                    <li class="disable">Preview Premium Feature</li>
                </ul>
                <a href="#"
                   class="btn btn-success btn-border btn-lg w-75 fw-bold mb-3">Sign up</a>
            </div>
        </div>
        <div class="col-md-3 ps-md-0 pe-md-0 ">
            <div class="card-pricing2 card-secondary">
                <div class="pricing-header">
                    <h3 class="fw-bold mb-3">Premium</h3>
                    @*<span class="sub-title">Lorem ipsum</span>*@
                </div>
                <div class="price-value">
                    <div class="value">
                        <span class="currency">$</span>
                        <span class="amount">8.<span>99</span></span>
                        <span class="month">/month</span>
                    </div>
                </div>
                <ul class="pricing-content">
                    <li>72 GB Disk Space</li>
                    <li>144 Accounts</li>
                    <li>Unlimited Bandwidth</li>
                    <li>Early Access Feautures</li>
                </ul>
                <a href="#"
                   class="btn btn-secondary btn-border btn-lg w-75 fw-bold mb-3">Sign up</a>
            </div>
        </div>
        <div class="col-md-3 ps-md-0 pe-md-0 mx-2 px-2">
            <div class="card-pricing2 card-primary">
                <div class="pricing-header">
                    <h3 class="fw-bold mb-3">Business</h3>
                    @*<span class="sub-title">Lorem ipsum</span>*@
                </div>
                <div class="price-value">
                    <div class="value">
                        <span class="currency">$</span>
                        <span class="amount">5.<span>99</span></span>
                        <span class="month">/month</span>
                    </div>
                </div>
                <ul class="pricing-content">
                    <li>36 Accounts</li>
                    <li>96GB Monthly Bandwidth</li>
                    <li>Preview Premium Features</li>
                </ul>
                <a href="#"
                   class="btn btn-primary btn-border btn-lg w-75 fw-bold mb-3">Sign up</a>
            </div>
        </div>
    </div> 
</div>