
@{
    ViewBag.Title = "Returns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="returntbl" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>sale</th>
                            <th>product_name</th>@*product_id*@
                            <th>Quantity</th>
                            <th>Return Date</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>sale</th>
                            <th>product_name</th>
                            @*product_id*@
                            <th>Quantity</th>
                            <th>Return Date</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div> 


@section scripts{
    <script>
        $('#returntbl').DataTable({
            "ajax": {
                "url": '@Url.Action("GetReturns", "Products")',
                "type": "GET",
                "dataSrc": "data"
            },
            "columns": [
                { "data": "return_id" },
                { "data": "sale_id" },
                { "data": "product_name" },
                { "data": "quantity_returned" },
                {
                    "data": "return_date", "render": function (data, type, row) {
                        var date = new Date(parseInt(data.replace(/\/Date\((\d+)\)\//, '$1')));
                        return date.toLocaleString();
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return `<button class="btn btn-warning btn-sm" onclick="editReturn(${row.return_id})">Edit</button>`;
                    }
                }
            ]
        });





    </script>   
    
    }