<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="localhost_marshell_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=marshell; password=marshell; database=marshell;persist security info=true;CharSet=utf8;" />
        <add name="itc.MARSHELL.dbo" connectionString="xpoprovider=MSSqlServer;data source=ITC;initial catalog=MARSHELL;integrated security=True;encrypt=False" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime> 
  </runtime>
</configuration>
