@{
    ViewBag.Title = "About";
    ViewBag.Message = "This is a POS System Designed and Developt by Mr.Gamboa, POS Functionality, Inventory Controls and ERP Manager Controls all included and integrated in one system. Developt from Scrach.";
}
<div class="card">
    <div class="card-title text-center py-4 px-5">
        <h1 id="title" >@ViewBag.Title</h1>
    </div>
    <div class="card-body mb-50">
        <h3 class="d-flex mb-4">@ViewBag.Message</h3>
        <div class="d-flex">
            <div class="col-6">
                <main aria-labelledby="title">
                    <p>Marshell is  a POS System Developt By Sheilon Gamboa for fun</p>
                </main>
            </div>
            <div class="col-6">
                <main aria-labelledby="title">
                    <address>
                        Gamboa Tech<br />
                        Gamboa, WA +505 8921-7936<br />
                        <abbr title="Phone">P</abbr>
                        +505 89217936
                    </address>
                    <address>
                        <strong>Support:</strong>   <a href="mailto:sheivon.gamboa+mashell@gmail.com">Support@gamboatech.com</a><br />
                    </address>
                </main>
            </div>
        </div>
    </div>
</div>

